	<div class="jumbotron">
	<h1><strong>Her name is...</strong>
	 </h1>

    <td><%= image_tag 'girlhead.jpg' %></td>
	 	<p></p><p></p>

		<%= render 'form' %>

		<input type="text" class="form-control: focus" placeholder="Type her name here">
		</p>
</div>