<html lang="en">  
  <head> 
	  
 </head>


 <body>
	<div class="jumbotron center">
<h1>FAQ - My Bedtime Story</h1>
<p class="text-left">
<br></br>
	How do I print my story?
	<br></br>
	<td><%= image_tag 'boyhead.jpg' %></td>Just press the "Print" key after you create it. 
	<br></br>
	How do I share my story?
	<br></br>
	<td><%= image_tag 'girlhead.jpg' %></td>Here's an answer.
	<br></br>
	Here's another question?
</p>


</div>
</body>





