<h1>FAQ - My Bedtime Story</h1>
<p class="text-left">
	Thanks for checking out my page!
<br></br>
	<strong>How do I print my story&#63;</strong>
	<br></br>
	To print your story, just press the "Print" key after you create it. 
	<br></br>
	<strong>How do I share my story&#63;</strong>
	<br></br>
	Here's an answer.
	<br></br>
	<strong>Here's another question&#63;</strong>
</p>

