<html lang="en">  
  <head> 
	  
 </head>


 <body>
	<div class="jumbotron center">
	<h1><strong>My Character</strong>
	 </h1>

   <h2>Is it a boy &nbsp;&nbsp;or &nbsp;&nbsp;a girl?</h2>
	 
	 	<p>
		<%= link_to(image_tag("boy.jpg"), hisname_path) %>
		<%= link_to(image_tag("girl.jpg"), hername_path) %>
		</p>
</div>
</body>

