<html lang="en">  
  <head> 
	  
 </head>


 <body>
	<div class="jumbotron center">
	<h1><strong>Her name is...</strong>
	 </h1>

    <td><%= image_tag 'girlhead.jpg' %></td>

	 	
	 	<p></p><p></p>

		<input type="text" class="form-control: focus" placeholder="Type her name here">
		</p>
</div>
</body>
