<html lang="en">  
  <head> 
	  
 </head>


 <body>
	<div class="jumbotron center">
	<h1><strong>His name is...</strong>
	 </h1>

    <td><%= image_tag 'boyhead.jpg' %></td>

	 	
	 	<p></p><p></p>

		<!--not sure if this empty submit button is necessary--><button type="submit" class="btn btn-default"></button>

		<input type="text" class="form-control: focus" placeholder="Type his name here">
		
		<!--not sure if this empty submit button is necessary--><button type="submit" class="btn btn-default"></button>

</div>
</body>




