<html lang="en">  
  <head> 
	  
 </head>


 <body>
	<div class="jumbotron center">
	<h1><strong>Oh My Stories!</strong>
	 </h1>

   <h2>I create the stories of my dreams</h2>
	 
	 	<p>
		<div class="row">

		<div class="col-xs-6"><%= link_to(image_tag("dreaming.png"), chars_path, class: "btn btn-default") %></div>

		<div class="col-xs-6"><%= link_to(image_tag("readsmaller.png"), login_path, class: "btn btn-default") %></div>
		</p>
</div>
</body>

