<html lang="en">  
  <head> 
	  
 </head>


 <body>
	<div class="jumbotron center">
	
	<div class="alert alert-success">
		<strong><h3>Hey, writer!</h3>
		<h5>We're making your future experience as delightful as possible. </br></br>
	 	In the meantime, visit us on <%= link_to "Facebook", "https://www.facebook.com/ohmystories" %> for storytelling tips and other fun things! </br></br>
	 	See you soon!</strong></h5>
	</div>

   <h1><strong>Oh My Stories!</strong>
	 </h1>

   <h2>I create the stories of my dreams</h2>
	 
	 	<p>

	  <div class="row">

		<div class="col-xs-6">
			<div class="imagetwist">
				<%= image_tag("dreaming.png") %>
			</div>
			</div>

		<div class="col-xs-6">
			<div class="imageUNtwist">
						<%= image_tag("readsmaller.png") %>
      </div>
		</div>

		</p>
</div>
</body>




