<html lang="en">  
  <head> 
	  
 </head>


 <body>
	<div class="jumbotron center">
	<h1><strong>My Bedtime Story</strong>
	 </h1>

   <h2>I write the story of my dreams!</h2>
	 
	 	<p>
		<%= link_to(image_tag("dreaming.png"), chars_path) %>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to(image_tag("read.png"), login_path) %>
		</p>
</div>
</body>

