<div class="jumbotron">
  <h1>My Disney Story</h1>
  <h2>What's your favorite Disney resort?</h2>
</div>

<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Bay Lake Tower at Disney's Contemporary Resort 
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Disney's All-Star Movies Resort 
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
    Disney's All-Star Music Resort 
  </label>

  <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
    Disney's All-Star Sports Resort 
  </label>

  <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">
    Disney's Animal Kingdom Lodge 
  </label>

  <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios6" value="option6">
    Disney's Animal Kingdom Villas - Jambo House 
  </label>

  <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios7" value="option7">
    Disney's Animal Kingdom Villas - Kidani Village 
  </label>

  <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios8" value="option8">
    Disney's Art of Animation Resort 
  </label>

  <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios9" value="option9">
    Disney's Beach Club Resort 
  </label>

  <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios10" value="option10">
    Disney's Beach Club Villas 
  </label>

  <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios11" value="option11">
    Disney's BoardWalk Inn 
  </label>

  <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios12" value="option12">
    Disney's BoardWalk Villas 
  </label>

   <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios13" value="option13">
    Disney's Caribbean Beach Resort 
  </label>

   <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios14" value="option14">
    Disney's Contemporary Resort  
  </label>

 <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios15" value="option15">
    Disney's Coronado Springs Resort 
  </label>


 <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios16" value="option16">
    Disney's Grand Floridian Resort &amp; Spa 
  </label>

 <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios16" value="option16">
    Disney's Old Key West Resort 
  </label>

 <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios17" value="option17">
    Disney's Polynesian Village Resort 
  </label>

 <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios18" value="option18">
    Disney's Pop Century Resort 
  </label>

 <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios19" value="option19">
    Disney's Port Orleans Resort - French Quarter
  </label>

 <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios20" value="option20">
    Disney's Port Orleans Resort - Riverside
  </label>

 <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios21" value="option21">
    Disney's Saratoga Springs Resort &amp; Spa  
  </label>

 <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios22" value="option22">
    Disney's Wilderness Lodge 
  </label>

 <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios23" value="option23">
    Disney's Yacht Club Resort
  </label>

 <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios24" value="option24">
    The Cabins at Disney's Fort Wilderness Resort
  </label>

 <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios25" value="option25">
    The Campsites at Disney's Fort Wilderness Resort
  </label>
 
 <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios26" value="option26">
    The Villas at Disney's Grand Floridian Resort &amp; Spa 
  </label>

 <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios27" value="option27">
    The Villas at Disney's Wilderness Lodge
  </label>















