<html lang="en">  
  <head> 
	  
 </head>

 <body>

	<div class="jumbotron center">


	<h3>Let's read my stories&excl;</h3>
	 	<p>
<%= link_to "Login", "#", class: "btn btn-primary btn-lg" %></h2>
		</p>


	<h3>Want to create and save your first story?</h3>
<%= link_to "Sign Me Up!", new_user_registration_path, class: "btn btn-primary btn-lg" %></h2>


</div>
</body>


