<html lang="en">  
  <head> 
	  
 </head>


 <body>
	<div class="jumbotron center">
	<h2><strong>Let's read your stories&excl;</strong>
	 </h2>
	 
	 	<p>
<%= link_to "Login", "#", class: "btn btn-primary btn-lg" %></h2>
		</p>
</div>
</body>


